@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;family=Rubik:wght@300;400;500;600;700;800;900&amp;display=swap';
*,
*:before,
*:after {
    box-sizing: inherit
}

* {
    scroll-behavior: inherit !important
}

html,
body {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box
}

body {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: #757f95;
    line-height: 1.8
}

a {
    color: #14212b;
    display: inline-block
}

a,
a:active,
a:focus,
a:hover {
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-decoration: none
}

a:hover {
    color: #272560
}

ul {
    margin: 0;
    padding: 0
}

li {
    list-style: none;
    padding: 0px 20px;
    text-align: center;
    margin: 0px 4px;
}

.navbar .nav-item:hover {
    border-bottom: 3px solid #f5922e;
}

.navbar .nav-item.active {
    border-bottom: 3px solid #f5922e;
}

.navbar .nav-item.active a.nav-link{
    color: #f5922e
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #253745;
    margin: 0;
    font-weight: 600;
    font-family: rubik, sans-serif;
    line-height: 1.2
}

h1 {
    font-size: 40px
}

h2 {
    font-size: 35px
}

h3 {
    font-size: 28px
}

h4 {
    font-size: 22px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

p {
    margin: 0
}

.img,
img {
    max-width: 100%;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    height: auto
}

label {
    color: #999;
    cursor: pointer;
    font-weight: 400
}

*::-moz-selection {
    background: #f5922e;
    color: #fff;
    text-shadow: none
}

::-moz-selection {
    background: #555;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #555;
    color: #fff;
    text-shadow: none
}

*::-moz-placeholder {
    color: #999;
    font-size: 16px;
    opacity: 1
}

*::placeholder {
    color: #999;
    font-size: 16px;
    opacity: 1
}

.preloader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    z-index: 999999;
    transition: .3s ease opacity;
    text-align: center;
    width: 100%;
    height: 100%
}

.preloader:before {
    content: "";
    width: 80px;
    height: 80px;
    border: 5px solid #f5922e;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation-name: LoaderCicle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

.preloader:after {
    content: "";
    width: 80px;
    height: 80px;
    border: 5px solid #f5922e;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation-name: LoaderCicle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1s
}

@keyframes LoaderCicle {
    0% {
        width: 0;
        height: 0;
        opacity: 0
    }
    10% {
        width: 10px;
        height: 10px;
        opacity: 1
    }
    80% {
        width: 60px;
        height: 60px;
        opacity: .1
    }
    100% {
        width: 70px;
        height: 70px;
        opacity: 0
    }
}

.ovrflow-hidden {
    overflow: hidden
}

.text-right {
    text-align: right
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.c-pd {
    padding: 0 7rem
}

.s-pd {
    padding: 0 12rem
}

.h-100 {
    height: 100%
}

.h-100vh {
    height: 100vh
}

.bg {
    background-color: #f0f4f9
}

.bg2 {
    background-color: #2b3e4b
}

.site-heading {
    margin-bottom: 50px
}

.site-title-tagline {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 18px;
    color: #f5922e;
    position: relative
}

.site-title {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 40px;
    color: #253745;
    margin-top: 5px;
    margin-bottom: 0
}

.site-title span {
    color: #f5922e
}

.site-heading p {
    font-size: 16px
}

.heading-divider {
    display: inline-block;
    position: relative;
    height: 3px;
    border-radius: 30px;
    background-color: #f5922e;
    width: 90px;
    overflow: hidden
}

.heading-divider:after {
    content: '';
    position: absolute;
    left: 0;
    top: -1.1px;
    height: 7px;
    width: 8px;
    background-color: #fff;
    -webkit-animation: heading-move 5s infinite linear;
    animation: heading-move 5s infinite linear
}

@-webkit-keyframes heading-move {
    0% {
        transform: translateX(-1px)
    }
    50% {
        transform: translateX(85px)
    }
    100% {
        transform: translateX(-1px)
    }
}

@keyframes heading-move {
    0% {
        transform: translateX(-1px)
    }
    50% {
        transform: translateX(85px)
    }
    100% {
        transform: translateX(-1px)
    }
}

.pb-140 {
    padding-bottom: 140px
}

.pd-50 {
    padding: 50px 0
}

.py-120 {
    padding: 120px 0
}

.pt-120 {
    padding-top: 120px
}

.pb-120 {
    padding-bottom: 120px
}

.pt-0 {
    padding-top: 0
}

.pt-10 {
    padding-top: 10px
}

.pt-20 {
    padding-top: 20px
}

.pt-30 {
    padding-top: 30px
}

.pt-40 {
    padding-top: 40px
}

.pt-50 {
    padding-top: 50px
}

.pt-60 {
    padding-top: 60px
}

.pt-70 {
    padding-top: 70px
}

.pt-80 {
    padding-top: 80px
}

.pt-90 {
    padding-top: 90px
}

.pt-100 {
    padding-top: 100px
}

.pb-0 {
    padding-bottom: 0
}

.pb-10 {
    padding-bottom: 10px
}

.pb-20 {
    padding-bottom: 20px
}

.pb-30 {
    padding-bottom: 30px
}

.pb-40 {
    padding-bottom: 40px
}

.pb-50 {
    padding-bottom: 50px
}

.pb-60 {
    padding-bottom: 60px
}

.pb-70 {
    padding-bottom: 70px
}

.pb-80 {
    padding-bottom: 80px
}

.pb-90 {
    padding-bottom: 90px
}

.pb-100 {
    padding-bottom: 100px
}

.mt-0 {
    margin-top: 0
}

.mt-10 {
    margin-top: 10px
}

.mt-20 {
    margin-top: 20px
}

.mt-30 {
    margin-top: 30px
}

.mt-40 {
    margin-top: 40px
}

.mt-50 {
    margin-top: 50px
}

.mt-60 {
    margin-top: 60px
}

.mt-70 {
    margin-top: 70px
}

.mt-80 {
    margin-top: 80px
}

.mt-90 {
    margin-top: 90px
}

.mt-100 {
    margin-top: 100px
}

.mb-0 {
    margin-bottom: 0
}

.mb-10 {
    margin-bottom: 10px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-50 {
    margin-bottom: 50px
}

.mb-60 {
    margin-bottom: 60px
}

.mb-70 {
    margin-bottom: 70px
}

.mb-80 {
    margin-bottom: 80px
}

.mb-90 {
    margin-bottom: 90px
}

.mb-100 {
    margin-bottom: 100px
}

.mr-300 {
    margin-right: 300px
}

.ml-300 {
    margin-left: 300px
}

.pos-rel {
    position: relative;
    z-index: 1
}

.theme-btn {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    border: none;
    background: #f5922e;
    box-shadow: 0 3px 24px rgb(0 0 0/10%);
    transition: all .5s ease-in-out;
    z-index: 1
}

.theme-btn::before {
    content: '';
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform .24s ease-in-out;
    background: #2b3e4b;
    z-index: -1
}

.theme-btn:hover::before {
    transform: scaleX(1);
    transform-origin: left center
}

.theme-btn:hover {
    color: #fff
}

.theme-btn i {
    margin-left: 12px
}

.theme-btn span {
    margin-right: 8px
}

.theme-btn2 {
    background: #2b3e4b
}

.theme-btn2::before {
    background: #f5922e;
    color: #fff
}

@media(min-width:1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1185px
    }
}

#scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 22px;
    border: none;
    outline: none;
    border-radius: 50px;
    background: #f5922e;
    color: #fff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    box-shadow: 0 3px 24px rgb(0 0 0/10%);
    transition: all .5s ease-in-out
}

.header-top {
    padding: 8px 0;
    position: relative;
    background: #2b3e4b;
    z-index: 1000
}

.header-top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header-top-contact ul {
    display: flex;
    align-items: center;
    gap: 25px
}

.header-top-contact ul li a {
    color: #fff;
    font-weight: 400
}

.header-top-contact ul li a i {
    margin-right: 10px;
    color: #bb5c32
}

.header-top-right {
    display: flex;
    align-items: center;
    gap: 35px
}

.header-top-social span {
    color: #fff
}

.header-top-social a {
    width: 30px;
    height: 30px;
    line-height: 31px;
    color: #fff;
    font-size: 16px;
    background: #f5922e;
    text-align: center;
    margin-left: 5px;
    border-radius: 50px;
    transition: all .5s ease-in-out
}

.header-top-social a:hover {
    background: #fff;
    color: #f5922e
}

.header-top-cart {
    position: relative
}

.header-top-lang button {
    padding: 0;
    background: 0 0;
    border: none;
    color: #fff
}

.header-top-lang button i {
    margin-right: 8px;
    color: #f5922e
}

.header-top-lang ul li img {
    width: 20px;
    border-radius: 50%;
    margin-right: 8px
}

.header-top-lang .dropdown-menu {
    border: none;
    border-radius: 8px;
    box-shadow: 0 3px 24px rgb(0 0 0/10%)
}

@media all and (max-width:991px) {
    .header-top {
        display: none
    }
}

.main {
    margin-top: 0
}

@media all and (min-width:992px) {
    .navbar .nav-item .nav-link {
        padding: 30px 0;
        font-size: 16px;
        font-weight: 600;
        color: #253745;
        /*text-transform: capitalize*/
    }
    .navbar .nav-item:last-child .nav-link {
        margin-right: 0
    }
    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-top: 0;
        padding: 8px 20px;
        border: none;
        border-radius: 8px;
        width: 220px;
        box-shadow: 0 3px 24px rgb(0 0 0/10%)
    }
    .navbar .nav-item .dropdown-menu::before {
        content: "";
        position: absolute;
        height: 4px;
        left: 20px;
        right: 20px;
        top: 0;
        background: #f5922e
    }
    .navbar .nav-item .dropdown-menu li {
        border-bottom: 1px solid #eee
    }
    .navbar .nav-item .dropdown-menu li:last-child {
        margin-bottom: 0;
        border-bottom: none
    }
    .navbar .nav-item .dropdown-menu .dropdown-item {
        font-size: 15px;
        font-weight: 600;
        padding: 8px 15px;
        color: #253745;
        position: relative;
        text-transform: capitalize;
        transition: all .5s ease-in-out
    }
    .navbar .nav-item .dropdown-menu .dropdown-item::before {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        background: #f5922e;
        left: 0;
        top: 20px;
        transition: all .5s ease-in-out
    }
    .navbar .nav-item .dropdown-menu .dropdown-item:hover::before {
        width: 15px
    }
    .navbar .nav-item .dropdown-menu .dropdown-item:hover {
        background: 0 0;
        color: #f5922e;
        padding-left: 25px
    }
    .navbar .nav-item .nav-link {
        position: relative;
        padding: 8px 15px
    }
    .navbar .nav-item .nav-link.active,
    .navbar .nav-item:hover .nav-link {
        color: #f5922e
    }
    .navbar .nav-item:hover .dropdown-menu {
        transition: .3s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: rotateX(0deg)
    }
    .navbar .dropdown-menu-end {
        right: 0;
        left: auto
    }
    .navbar .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%
    }
    .navbar .dropdown-menu.fade-up {
        top: 140%
    }
    .header-nav-right {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-left: 30px
    }
    .header-cart {
        position: relative;
        margin-right: 10px
    }
    .header-cart a {
        color: #253745
    }
    .header-cart a:hover {
        color: #f5922e
    }
    .header-cart span {
        position: absolute;
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        font-size: 12px;
        color: #fff;
        background: #f5922e;
        border-radius: 50px;
        right: -10px;
        top: -8px
    }
    .header-nav-search a {
        color: #253745
    }
    .header-nav-search a:hover {
        color: #f5922e
    }
    #main_nav {
        justify-content: flex-end
    }
}

.navbar {
    background: #fff;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999
}

.navbar.fixed-top {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .17);
    animation: slide-down .7s
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%)
    }
    100% {
        transform: translateY(0)
    }
}

.navbar.fixed-top .nav-item .nav-link::before {
    color: #00235a
}

.navbar .navbar-brand .logo-display {
    display: block
}

.navbar .navbar-brand .logo-scrolled {
    display: none
}

.navbar.fixed-top .navbar-brand .logo-display {
    display: none
}

.navbar.fixed-top .navbar-brand .logo-scrolled {
    display: block
}

button.navbar-toggler {
    font-size: 3.5rem;
    padding: 0;
    margin: 0
}

button.navbar-toggler:focus {
    outline: none;
    box-shadow: none
}

.navbar-toggler-icon {
    display: inline-block;
    width: inherit;
    height: inherit
}

.navbar-brand img {
    width: 60px
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    font-family: 'font awesome 5 pro';
    content: "\f107";
    font-weight: 500;
    border: none;
    font-size: 16px
}

.mobile-menu-right {
    display: flex;
    align-items: center
}

@media all and (max-width:1199px) {
    .navbar .header-btn {
        display: none
    }
    .navbar .header-btn {
        display: none
    }
    .header-phone {
        display: none
    }
}

@media all and (max-width:991px) {
    .navbar {
        top: 0;
        right: 0;
        left: 0;
        position: fixed
    }
    .navbar-brand {
        padding-left: 10px
    }
    .navbar-brand img {
        width: 190px
    }
    .navbar-collapse {
        max-height: 290px;
        overflow: hidden;
        overflow-y: auto;
        padding: 0 20px;
        background-color: #fff
    }
    .dropdown-toggle::after {
        float: right
    }
    .navbar .nav-item .nav-link {
        color: #253745;
        font-weight: 700;
        transition: all .5s ease-in-out
    }
    .navbar .nav-item .nav-link:hover {
        color: #f5922e !important
    }
    .navbar-toggler-icon {
        font-size: 32px;
        color: #253745;
        font-weight: 500;
        padding-right: 10px;
        margin-bottom: 10px
    }
    .navbar .dropdown-menu {
        border-radius: 5px
    }
    .navbar.fixed-top .navbar-toggler-icon {
        color: #253745
    }
    .header-nav-right {
        display: none
    }
    .middle-header {
        display: none
    }
}

.navbar .nav-item .dropdown-submenu {
    position: relative
}

.navbar .nav-item .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 15px;
    top: 6px;
    font-weight: 400
}

.navbar .nav-item .dropdown-submenu a:hover {
    background: 0 0;
    color: #f5922e
}

.navbar .nav-item .dropdown-submenu .dropdown-menu {
    top: 120%;
    left: 100%;
    opacity: 0;
    visibility: hidden
}

.navbar .nav-item .dropdown-submenu:hover .dropdown-menu {
    top: 0;
    opacity: 1;
    visibility: visible
}

@media all and (max-width:991px) {
    .navbar .nav-item .dropdown-submenu .dropdown-menu {
        margin: 0 17px
    }
}

.hero-section {
    position: relative;
    overflow: hidden
}

.hero-single {
    padding-top: 130px;
    padding-bottom: 130px;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.hero-single::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(3, 2, 7, .6);
    z-index: -1
}

.hero-single .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%
}

.hero-single .hero-content .hero-title {
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    text-transform: capitalize
}

.hero-single .hero-content .hero-title span {
    color: #f5922e
}

.hero-single .hero-content .hero-sub-title {
    color: #f5922e;
    font-size: 25px;
    font-weight: 600;
    position: relative;
    text-transform: capitalize
}

.hero-single .hero-content p {
    color: #fff;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 20px
}

.hero-single .hero-content .hero-btn {
    gap: 2rem;
    display: flex;
    margin-top: 1rem;
    justify-content: start
}

.hero-title {
    font-weight: 700;
    margin: 20px 0
}

.hero-sub-title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1
}

.hero-section .owl-dots {
    position: absolute;
    text-align: center;
    top: 50%;
    right: 40px;
    transform: translateY(-50%)
}

.hero-section .owl-dots .owl-dot {
    display: block
}

.hero-section .owl-dots .owl-dot span {
    border: 3px solid #fff;
    margin: 5px;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: transparent;
    transition: all .5s ease-in-out
}

.hero-section .owl-dots .owl-dot.active span {
    background-color: #f5922e;
    border-color: #f5922e
}

.hero-slider2.owl-theme .owl-nav {
    margin-top: 0
}

.hero-slider2.owl-theme .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 30px;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, .2);
    display: inline-block;
    cursor: pointer;
    height: 55px;
    width: 55px;
    border-radius: 50px;
    line-height: 55px;
    text-align: center;
    transition: all .5s ease-in-out
}

.hero-slider2.owl-theme .owl-nav [class*=owl-]:hover {
    background: #fff;
    color: #f5922e
}

.hero-slider2.owl-theme .owl-nav .owl-prev {
    left: 40px
}

.hero-slider2.owl-theme .owl-nav .owl-next {
    right: 40px
}

.hero-slider2.owl-theme .owl-nav .owl-prev,
.hero-slider2.owl-theme .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

@media all and (max-width:1199px) {
    .hero-single .hero-content .hero-title {
        font-size: 37px
    }
    .hero-slider2.owl-theme .owl-nav .owl-prev,
    .hero-slider2.owl-theme .owl-nav .owl-next {
        top: unset;
        bottom: 5px !important
    }
    .hero-slider2.owl-theme .owl-nav .owl-next {
        left: 120px
    }
    .hero-social-wrapper {
        display: none
    }
}

@media all and (max-width:991px) {
    .hero-single .hero-content .hero-title {
        font-size: 35px
    }
    .hero-single {
        padding-top: 150px
    }
    .hero-img {
        display: none
    }
}

@media all and (max-width:767px) {
    .hero-single .hero-content .hero-sub-title {
        font-size: 18px
    }
    .hero-single .hero-content .hero-btn {
        gap: 2rem
    }
    .hero-single .hero-content .theme-btn {
        padding: 10px 14px
    }
    .hero-section .owl-dots {
        top: unset;
        right: unset;
        left: 10px;
        bottom: 40px
    }
    .hero-section .owl-dots .owl-dot {
        display: inline-block
    }
}

.play-btn {
    display: inline-block;
    padding: 0;
    height: 75px;
    width: 75px;
    line-height: 75px;
    font-size: 20px;
    text-align: center;
    background: #f5922e;
    color: #fff !important;
    position: absolute;
    border-radius: 50%;
    z-index: 1
}

.play-btn i::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #f5922e;
    border-radius: 50px;
    animation: ripple-wave 1s linear infinite;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all .5 ease-in-out
}

@keyframes ripple-wave {
    0% {
        opacity: .8;
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
}

.about-area {
    position: relative;
    display: block
}

.about-left {
    position: relative;
    display: block;
    margin-right: 30px
}

.about-img {
    position: relative
}

.about-img::before {
    content: "";
    position: absolute;
    border: 5px solid #f5922e;
    border-radius: 20px;
    right: -30px;
    top: 50px;
    bottom: 50px;
    width: 50%;
    z-index: -1
}

.about-img img {
    border-radius: 8px
}

.about-right {
    position: relative;
    display: block;
    padding-left: 30px
}

.about-experience {
    background: #f5922e;
    box-shadow: 0 3px 24px rgb(0 0 0/10%);
    position: absolute;
    left: -30px;
    bottom: 80px;
    padding: 40px 20px;
    border-radius: 10px;
    text-align: center
}

.about-experience h5 {
    color: #fff;
    font-size: 20px
}

.about-experience span {
    color: #fff;
    font-size: 70px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 10px;
    display: inline-block
}

.about-list-wrapper {
    position: relative;
    display: block;
    margin-top: 32px;
    margin-bottom: 32px
}

.about-list {
    position: relative;
    display: block
}

.about-list li {
    position: relative;
    display: flex;
    align-items: center
}

.about-list li+li {
    margin-top: 8px
}

.about-list li .icon {
    position: relative;
    display: flex;
    align-items: center
}

.about-list li .icon i {
    font-size: 50px;
    color: #f5922e
}

.about-list li .text {
    margin-left: 16px
}

.about-list li .text p {
    margin-top: 10px
}

@media all and (max-width:991px) {
    .about-right {
        margin-top: 30px
    }
    .about-img img {
        width: 100%
    }
}

@media all and (max-width:767px) {
    .about-title {
        font-size: 30px
    }
    .about-left {
        margin-right: 0
    }
    .about-left-content {
        bottom: -70px
    }
    .about-img {
        width: 90%
    }
    .about-experience {
        left: -7px
    }
}

.feature-item {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 25px;
    position: relative;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%);
    transition: all .5s ease-in-out
}

.feature-item::before {
    content: "";
    position: absolute;
    width: 4px;
    background: #f5922e;
    top: 30px;
    bottom: 30px;
    left: 0
}

.feature-icon {
    width: 70px;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 20px;
    color: #f5922e;
    transition: all .5s ease-in-out
}

.feature-item:hover .feature-icon,
.feature-item.active .feature-icon {
    color: #fff
}

.feature-item:hover .feature-icon {
    transform: scale(-1) rotate(180deg)
}

.feature-item:hover,
.feature-item.active {
    background: #f5922e
}

.feature-content h4 {
    font-size: 27px;
    color: #253745;
    margin-bottom: 10px
}

.feature-item:hover .feature-content h4,
.feature-item.active .feature-content h4 {
    color: #fff
}

.feature-content p {
    color: #253745
}

.feature-item:hover .feature-content p,
.feature-item.active .feature-content p {
    color: #fff
}

.service-area {
    position: relative;
    display: block;
    overflow: hidden
}

.service-item {
    position: relative;
    border-radius: 8px;
    background: #fff;
    text-align: center;
    padding: 25px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%);
    transition: all .5s ease-in-out;
    z-index: 1
}

.service-item:hover {
    transform: translateY(-10px)
}

.service-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #f5922e;
    color: #fff;
    width: 90px;
    height: 90px;
    font-size: 50px;
    border-radius: 50%;
    margin: 0 auto 25px;
    z-index: 1
}

.service-icon::before {
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    bottom: -10px;
    right: -10px;
    border: 3px solid #f5922e;
    border-top-color: transparent;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    z-index: -1
}

.service-item:hover .service-icon::before {
    transform: rotate(180deg)
}

.service-title {
    margin-bottom: 10px
}

.service-title a {
    font-size: 22px;
    color: #253745
}

.service-title a:hover {
    color: #f5922e
}

.service-arrow {
    margin-top: 25px
}

.service-btn {
    width: 45px;
    height: 45px;
    line-height: 45px;
    background: #f0f4f9;
    color: #f5922e;
    font-size: 20px;
    text-align: center;
    border-radius: 50px
}

.service-item:hover .service-btn {
    background: #f5922e;
    color: #fff
}

.service-area2 .service-item {
    padding: 20px 20px 25px
}

.service-area2 .service-item img {
    border-radius: 8px
}

.service-area2 .service-item .service-icon {
    margin-top: -50px
}

.service-details img {
    border-radius: 8px
}

.service-single-list i {
    color: #f5922e;
    margin-right: 10px
}

.service-download a {
    border: 2px solid #bb5c32;
    padding: 10px 20px;
    color: #2b3e4b;
    display: block;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: all .5s ease-in-out
}

.service-download a i {
    margin-right: 10px
}

.service-download a:hover {
    background-color: #bb5c32;
    color: #fff
}

.cta-area {
    background: #bb5c32;
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    z-index: 1
}

.cta-area::before {
    content: "";
    position: absolute;
    background-image: url(../img/shape/03.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .25;
    z-index: -1
}

.cta-content {
    text-align: center
}

.cta-content h1 {
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 10px
}

.cta-content p {
    color: #fff;
    margin-bottom: 30px
}

.cta-content .theme-btn {
    background: #fff;
    color: #bb5c32
}

.video-area {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.video-area::before {
    content: "";
    position: absolute;
    background: rgba(3, 2, 7, .2);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.video-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    height: 500px;
    z-index: 100
}

.video-wrapper img {
    border-radius: 12px
}

.video-area .play-btn {
    display: inline-block;
    padding: 0;
    height: 75px;
    width: 75px;
    text-align: center;
    background: #bb5c32;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@media all and (max-width:767px) {
    .video-wrapper {
        height: 250px
    }
}

.choose-area {
    position: relative;
    background: #2b3e4b
}

.choose-content {
    padding: 50px 30px 50px 0
}

.choose-img {
    background-image: url(../img/choose/01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-right: -200px
}

.choose-item {
    margin-top: 30px
}

.choose-item-icon i {
    color: #bb5c32;
    font-size: 50px
}

.choose-item-info h3 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 22px
}

.choose-item-info p {
    color: #fff
}

.choose-img .video-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%
}

.gallery-item {
    position: relative;
    margin-bottom: 25px
}

.gallery-item::before {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    background: rgba(218, 29, 37, .7);
    transform: scaleY(0);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.gallery-item:hover::before {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1)
}

.gallery-item .popup-img {
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50px;
    font-size: 20px;
    background: #fff;
    color: #da1d25;
    text-align: center;
    left: 50%;
    top: 50%;
    z-index: 1;
    opacity: 0;
    transform: translate(-50%, -50%)
}

.gallery-item:hover .popup-img {
    opacity: 1
}

.gallery-info {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out
}

.gallery-info h4 a {
    color: #fff;
    font-size: 28px
}

.gallery-info h4 a:hover {
    color: #030207
}

.gallery-info span {
    color: #fff
}

.gallery-item:hover .gallery-info {
    visibility: visible;
    opacity: 1;
    bottom: 30px
}

.testimonial-area {
    position: relative;
    overflow: hidden;
    z-index: 1
}

.testimonial-single {
    margin-bottom: 20px
}

.testimonial-quote {
    background: #bb5c32;
    padding: 40px 30px 50px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 3px 24px rgb(0 0 0/10%)
}

.testimonial-quote::before {
    content: "\f0dd";
    position: absolute;
    font-family: "font awesome 5 pro";
    bottom: -52px;
    left: 40px;
    font-weight: 700;
    font-size: 70px;
    color: #bb5c32
}

.testimonial-quote p {
    color: #fff
}

.testimonial-content {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px
}

.testimonial-author-img {
    margin-right: 20px;
    width: 80px;
    padding: 5px;
    border-radius: 50px;
    border: 2px dashed #bb5c32
}

.testimonial-author-img img {
    border-radius: 50%
}

.testimonial-author-info h4 {
    font-size: 20px;
    color: #2b3e4b
}

.testimonial-author-info p {
    color: #2b3e4b
}

.testimonial-quote-icon {
    position: absolute;
    right: 20px;
    bottom: 5px
}

.testimonial-quote-icon i {
    font-size: 50px;
    color: #fff
}

.testimonial-area .owl-dots {
    text-align: center;
    margin-top: 30px
}

.testimonial-area .owl-dots .owl-dot span {
    background: #bb5c32;
    margin: 5px;
    border-radius: 10px;
    width: 25px;
    height: 7px;
    display: inline-block;
    transition: all .5s ease-in-out
}

.testimonial-area .owl-dots .owl-dot.active span {
    background-color: #bb5c32;
    width: 8px;
    height: 8px
}

.testimonial-rate {
    color: #f69323
}

.counter-area {
    position: relative;
    z-index: 1
}

.counter-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    position: relative;
    background: #fff;
    padding: 20px 15px 20px 25px;
    border-radius: 10px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%);
    z-index: 1
}

.counter-box .icon {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 35px;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    background: #bb5c32;
    position: relative
}

.counter-box .icon::before {
    content: "";
    position: absolute;
    left: -8px;
    top: -8px;
    bottom: -8px;
    right: -8px;
    border: 3px solid #bb5c32;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    z-index: -1
}

.counter-box .counter {
    display: block;
    line-height: 1;
    color: #2b3e4b;
    font-size: 50px;
    font-weight: 900
}

.counter-box .title {
    color: #2b3e4b;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize
}

@media all and (max-width:1199px) {
    .counter-area::before,
    .counter-area::after {
        width: 80px;
        height: 80px
    }
    .counter-area .counter-box {
        margin: 20px 0
    }
}

.case-item {
    margin-bottom: 65px;
    position: relative
}

.case-img {
    position: relative
}

.case-img img {
    border-radius: 8px
}

.case-img::before {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    opacity: 0;
    border-radius: 8px;
    background: rgba(187, 92, 50, .7);
    transform: scaleY(0);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.case-item:hover .case-img::before {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1)
}

.case-link {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #bb5c32 !important;
    background: #fff;
    text-align: center;
    border-radius: 50px;
    left: 50%;
    top: 50%;
    font-size: 22px;
    margin-top: 50px;
    opacity: 0;
    box-shadow: 0 3px 24px rgb(0 0 0/10%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.case-item:hover .case-link {
    margin-top: 0;
    opacity: 1
}

.case-content {
    left: 20px;
    right: 20px;
    bottom: -40px;
    position: absolute;
    padding: 20px 15px 20px 20px;
    background: #fff;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 24px rgb(0 0 0/10%);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1
}

.case-content-info small {
    color: #bb5c32;
    font-size: 18px
}

.case-content-info a {
    font-size: 22px;
    color: #253745
}

.case-content-info a:hover {
    color: #bb5c32
}

.case-arrow {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #bb5c32
}

.case-arrow i {
    font-size: 20px;
    color: #fff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    background: #bb5c32
}

.case-slider.owl-theme .owl-nav {
    margin-top: 0
}

.case-slider.owl-theme .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background: #bb5c32;
    display: inline-block;
    cursor: pointer;
    height: 50px;
    width: 50px;
    line-height: 47px;
    text-align: center;
    border-radius: 50%;
    transition: all .5s ease-in-out
}

.case-slider.owl-theme .owl-nav .owl-prev {
    left: 0;
    opacity: 0
}

.case-slider.owl-theme .owl-nav .owl-next {
    right: 0;
    opacity: 0
}

.case-slider.owl-theme .owl-nav .owl-prev,
.case-slider.owl-theme .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

.case-slider:hover .owl-nav .owl-prev {
    left: -70px;
    opacity: 1
}

.case-slider:hover .owl-nav .owl-next {
    right: -70px;
    opacity: 1
}

@media all and (max-width:1199px) {
    .case-slider.owl-theme .owl-nav {
        display: none
    }
}

.case-sidebar .case-sidebar-content ul li {
    border-bottom: 1px solid #e7e7e7;
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    line-height: 33px
}

.case-sidebar .case-sidebar-content ul li:last-child {
    border-bottom: none
}

.case-sidebar-title {
    font-size: 28px;
    text-transform: capitalize;
    margin-bottom: 30px
}

.case-sidebar .case-sidebar-content ul li span {
    display: block;
    font-weight: 400;
    margin: 0;
    text-transform: capitalize
}

.case-sidebar .case-sidebar-content .rating a {
    color: #f69323
}

.case-new-project {
    background: #bb5c32 !important
}

.case-new-project h4 {
    color: #fff;
    margin-bottom: 30px
}

.new-project-btn {
    background: #fff;
    color: #2b3e4b;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    transition: all .5s ease-in-out
}

.new-project-btn:hover {
    background: #2b3e4b;
    color: #fff
}

.new-project-btn i {
    margin-left: 8px
}

.case-details img {
    border-radius: 8px
}

.case-single-list i {
    color: #bb5c32;
    margin-right: 10px
}

.blog-item {
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%);
    transition: all .5s ease-in-out
}

.blog-item-img {
    padding: 10px 10px 0
}

.blog-item img {
    border-radius: 12px
}

.blog-item:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
}

.blog-item-info {
    padding: 23px 30px 30px
}

.blog-item-meta ul {
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
    border-bottom: 1px solid #e6e8eb;
    padding-bottom: 18px
}

.blog-item-meta ul li {
    display: inline-block;
    margin-right: 15px;
    position: relative;
    color: #191f30
}

.blog-item-meta ul li i {
    margin-right: 5px;
    color: #bb5c32
}

.blog-title {
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: capitalize
}

.blog-item-info p {
    margin-bottom: 16px
}

.blog-btn {
    margin-top: 20px;
    padding: 7px 25px;
    border: 2px solid #bb5c32;
    border-radius: 5px;
    color: #2b3e4b
}

.blog-btn i {
    margin-left: 8px
}

.blog-btn:hover {
    background: #bb5c32;
    color: #fff !important
}

.blog-item-info a:hover {
    color: #bb5c32
}

@media all and (max-width:991px) {
    .blog-item-info {
        padding: 23px 15px 30px
    }
}

.blog-single-content img {
    border-radius: 8px
}

.blog-thumb-img {
    margin-bottom: 20px
}

.blog-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px
}

.blog-meta .blog-meta-left ul {
    display: flex;
    align-items: center;
    gap: 20px
}

.blog-meta i {
    margin-right: 5px;
    color: #bb5c32
}

.blog-meta a {
    color: #66788a
}

.blog-meta a:hover {
    color: #bb5c32
}

.blog-details-title {
    font-size: 34px
}

.blockqoute {
    background: #f0f4f9;
    border-left: 5px solid #bb5c32;
    padding: 30px;
    font-size: 17px;
    font-style: italic;
    margin: 20px 0
}

.blockqoute-author {
    margin-top: 20px;
    padding-left: 60px;
    position: relative
}

.blockqoute-author::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 40px;
    background: #bb5c32;
    left: 0;
    top: 10px
}

.blog-details-tags {
    display: flex;
    align-items: center;
    gap: 20px
}

.blog-details-tags ul {
    display: flex;
    align-items: center;
    gap: 15px
}

.blog-details-tags ul a {
    background: #f0f4f9;
    color: #253745;
    padding: 2px 10px;
    border-radius: 5px;
    transition: all .5s ease-in-out
}

.blog-details-tags ul a:hover {
    background: #bb5c32;
    color: #fff
}

.blog-author {
    display: flex;
    justify-content: start;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%);
    margin: 50px 0;
    padding: 20px
}

.blog-author::before {
    content: "";
    position: absolute;
    left: 0;
    width: 3px;
    top: 30px;
    bottom: 30px;
    background: #bb5c32
}

.blog-author-img {
    border: 2px solid #bb5c32;
    padding: 5px;
    width: 250px;
    border-radius: 50%
}

.blog-author-img img {
    border-radius: 50%
}

.author-name {
    font-size: 22px;
    color: #bb5c32;
    margin: 8px 0
}

.author-info {
    padding: 0 20px
}

.author-social {
    margin-top: 10px
}

.author-social a {
    margin-right: 10px;
    color: #bb5c32;
    transition: all .5s ease-in-out
}

.author-social a:hover {
    color: #253745
}

.blog-comments {
    margin-bottom: 50px
}

.blog-comments-wrapper {
    margin: 30px 0
}

.blog-comments-single {
    display: flex;
    justify-content: start;
    align-items: center
}

.blog-comments-single img {
    border-radius: 50%
}

.blog-comments-content {
    padding: 20px 30px
}

.blog-comments-content span {
    font-size: 14px
}

.blog-comments-content a {
    font-weight: 600;
    margin-top: 5px;
    color: #bb5c32
}

.blog-comments-content a:hover {
    color: #253745
}

.blog-comments-reply {
    margin-left: 50px
}

.blog-comments-form {
    background: #f0f4f9;
    padding: 30px;
    border-radius: 8px
}

.blog-comments-form h3 {
    margin-bottom: 20px
}

.blog-comments-form .form-group {
    margin-bottom: 20px
}

.blog-comments-form .form-control {
    padding: 12px 20px;
    border-radius: 5px;
    box-shadow: none;
    transition: all .5s ease-in-out
}

.blog-comments-form .form-control:focus {
    border-color: #f5922e
}

.blog-comments-form .theme-btn i {
    margin-right: 5px;
    margin-left: 0
}

@media all and (max-width:767px) {
    .blog-meta {
        flex-direction: column;
        font-size: 15px
    }
    .blog-meta .blog-meta-left ul {
        gap: 10px
    }
    .blog-details-tags {
        flex-direction: column;
        align-items: flex-start
    }
    .blog-author {
        flex-direction: column;
        text-align: center;
        padding: 25px 0 0
    }
    .blog-comments-single {
        flex-direction: column;
        text-align: center;
        padding: 30px 0;
        box-shadow: 0 0 40px 5px rgb(0 0 0/5%);
        margin-bottom: 30px;
        border-radius: 10px
    }
    .blog-comments-reply {
        margin-left: 0
    }
}

.widget {
    background: #f0f4f9;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 8px
}

.widget .widget-title {
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    font-size: 25px
}

.widget .widget-title::before {
    position: absolute;
    content: '';
    width: 15px;
    border-bottom: 3px solid #f5922e;
    bottom: 0;
    left: 0
}

.widget .widget-title::after {
    position: absolute;
    content: '';
    width: 30px;
    border-bottom: 3px solid #f5922e;
    bottom: 0;
    left: 25px
}

.widget .search-form .form-control {
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: none
}

.widget .search-form {
    position: relative
}

.widget .search-form .form-control:focus {
    border-color: #f5922e
}

.widget .search-form button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 18px 6px;
    background: 0 0;
    border: none;
    color: #f5922e
}

.widget .category-list a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #ced4da;
    transition: all .5s ease-in-out
}

.widget .category-list a:last-child {
    margin-bottom: 0;
    border-bottom: none
}

.widget .category-list a:hover {
    padding-left: 10px;
    color: #f5922e
}

.widget .category-list a i {
    margin-right: 5px;
    color: #f5922e
}

.widget .category-list a span {
    float: right
}

.widget .recent-post-single {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px
}

.widget .recent-post-img {
    margin-right: 20px
}

.widget .recent-post-img img {
    width: 100px;
    border-radius: 5px
}

.widget .recent-post-bio h6 {
    font-size: 18px;
    font-weight: 500
}

.widget .recent-post-bio span {
    font-size: 14px;
    color: #f5922e
}

.widget .recent-post-bio span i {
    margin-right: 5px
}

.widget .recent-post-bio h6 a:hover {
    color: #f5922e
}

.widget .social-share-link a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #f5922e;
    color: #f5922e;
    text-align: center;
    margin-right: 5px;
    border-radius: 50px;
    transition: all .5s ease-in-out
}

.widget .social-share-link a:hover {
    background: #f5922e;
    color: #fff
}

.widget .tag-list a {
    background: #fff;
    padding: 3px 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    display: inline-block;
    transition: all .5s ease-in-out
}

.widget .tag-list a:hover {
    background-color: #f5922e;
    color: #fff
}

.shop-sidebar {
    background: #f1f8ff;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 30px
}

.shop-widget {
    background: #fff;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px
}

.shop-widget-title {
    margin-bottom: 25px;
    padding-bottom: 10px;
    position: relative
}

.shop-widget-title::before {
    position: absolute;
    content: '';
    width: 30px;
    border-bottom: 3px solid #f5922e;
    bottom: 0;
    left: 0
}

.shop-widget-title::after {
    position: absolute;
    content: '';
    width: 5px;
    border-bottom: 3px solid #f5922e;
    bottom: 0;
    left: 35px
}

.shop-search-form .form-group {
    position: relative
}

.shop-search-form .form-control {
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: none
}

.shop-search-form .form-control:focus {
    border-color: #f5922e
}

.shop-search-form button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 18px 6px;
    background: 0 0;
    border: none;
    color: #f5922e
}

.shop-widget ul li {
    margin-bottom: 10px
}

.shop-widget .form-check-input {
    box-shadow: none;
    margin-top: 7px
}

.shop-widget .form-check-input:checked {
    background-color: #f5922e;
    border-color: #f5922e
}

.shop-widget .form-check-label {
    color: #7a8a9e
}

.shop-tags a {
    margin: 10px 6px 0 0;
    padding: 6px 15px;
    border-radius: 5px;
    background: #f1f8ff;
    color: #7a8a9e
}

.shop-tags a:hover {
    background-color: #f5922e;
    color: #fff
}

.widget-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 0;
    border-radius: 8px;
    z-index: 1
}

.widget-banner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #2b3e4b;
    border-radius: 8px;
    opacity: .6;
    z-index: -1
}

.banner-content {
    padding: 120px 20px 100px
}

.banner-content h3 {
    color: #fff;
    font-size: 40px
}

.banner-content h3 span {
    color: #f5922e
}

.banner-content .theme-btn {
    margin-left: 10px;
    margin-top: 30px
}

.shop-sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px
}

.shop-sort-box .form-select {
    border-radius: 5px;
    box-shadow: none
}

.shop-sort-box .form-select:focus {
    border-color: #f5922e
}

.shop-item {
    margin-bottom: 25px
}

.shop-item-info {
    padding-top: 20px;
    text-align: center
}

.shop-item-title {
    font-size: 22px;
    transition: all .5s ease-in-out
}

.shop-item-title:hover {
    color: #f5922e
}

.shop-item-price {
    font-size: 18px;
    color: #f5922e;
    font-weight: 700;
    margin-top: 5px
}

.shop-item-price del {
    color: #7a8a9e;
    margin-right: 10px;
    font-weight: 500
}

.shop-item-img {
    position: relative;
    background: #f1f8ff;
    border-radius: 5px;
    padding: 25px;
    z-index: 1
}

.shop-item-img::before {
    content: "";
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    position: absolute;
    border-radius: 5px;
    background: #bb5c32;
    background-image: -moz-linear-gradient(-72deg, #bb5c32 0%, #4de78b 99%);
    background-image: -webkit-linear-gradient(-72deg, #bb5c32 0%, #4de78b 99%);
    background-image: -ms-linear-gradient(-72deg, #bb5c32 0%, #4de78b 99%);
    z-index: 2;
    transform: scale(.9);
    visibility: hidden;
    opacity: 0;
    transition: all .3s linear 0s
}

.shop-item:hover .shop-item-img::before {
    transform: scale(1);
    visibility: visible;
    opacity: .8
}

.shop-item-sale {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 47px;
    border-radius: 50%;
    text-align: center;
    right: 10px;
    top: 10px;
    font-size: 16px;
    color: #fff;
    background: #e63a34;
    background-image: -moz-linear-gradient(-72deg, #e63a34 0%, #ee7349 99%);
    background-image: -webkit-linear-gradient(-72deg, #e63a34 0%, #ee7349 99%);
    background-image: -ms-linear-gradient(-72deg, #e63a34 0%, #ee7349 99%)
}

.shop-item-meta {
    position: absolute;
    top: 40px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    transition: all .5s ease-in-out
}

.shop-item-meta a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 43px;
    border-radius: 50px;
    text-align: center;
    background: #fff;
    color: #f5922e;
    margin-bottom: 15px;
    font-size: 18px
}

.shop-item-meta a:hover {
    background: #2b3e4b;
    color: #fff
}

.shop-item:hover .shop-item-meta {
    left: 20px;
    visibility: visible;
    opacity: 1
}

.shop-cart-btn {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: all .3s linear 0s
}

.shop-item-btn {
    background: #2b3e4b;
    color: #fff;
    padding: 10px 25px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .5s ease-in-out
}

.shop-item-btn:hover {
    background: #fff;
    color: #f5922e
}

.shop-item-btn i {
    margin-right: 5px
}

.shop-item:hover .shop-cart-btn {
    bottom: 60px;
    visibility: visible;
    opacity: 1
}

.shop-cart thead tr {
    background: #f5922e;
    color: #fff
}

.shop-cart thead tr th {
    text-transform: uppercase;
    font-weight: 500
}

.shop-cart thead tr th,
.shop-cart thead tr td {
    white-space: nowrap
}

.cart-img {
    width: 80px
}

.cart-img img {
    width: 100%
}

.shop-cart tr td {
    color: #383838;
    vertical-align: middle;
    border-bottom: 1px solid #dee2e6;
    border-top: none;
    position: relative;
    padding: 20px;
    font-size: 16px
}

.cart-qty {
    width: 150px
}

.cart-qty button {
    color: #383838;
    border: 0;
    border-radius: 5px;
    padding: 4px 13px
}

.cart-qty input {
    width: 50px;
    padding: 4px 13px;
    border: none;
    border-radius: 5px;
    background: #efefef;
    text-align: center
}

.cart-remove:hover {
    color: #f5922e
}

.cart-footer {
    margin-top: 40px
}

.cart-coupon {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 30px
}

.cart-coupon .form-control {
    box-shadow: none;
    padding: 10px 14px;
    border-radius: 5px
}

.cart-coupon .form-control:focus {
    border-color: #f5922e
}

.coupon-btn {
    padding: 8px 14px;
    color: #fff;
    border: none;
    background: #f5922e;
    border-radius: 5px;
    transition: all .5s ease-in-out
}

.coupon-btn:hover {
    background: #2b3e4b
}

.cart-summary {
    float: right
}

.cart-summary li {
    margin-bottom: 10px;
    width: 200px
}

.cart-summary li span {
    float: right
}

.cart-summary li strong {
    color: #2b3e4b
}

.cart-total {
    border-top: 1px solid #eee
}

.cart-total span {
    font-weight: 700;
    color: #f5922e
}

.checkout-widget {
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%)
}

.checkout-widget-title {
    margin-bottom: 20px;
    font-size: 25px
}

.checkout-form .form-group {
    margin-bottom: 20px
}

.checkout-form .form-group label {
    margin-bottom: 5px
}

.checkout-form .form-group .form-control {
    padding: 10px 18px;
    border-radius: 5px;
    box-shadow: none
}

.checkout-form .form-group .form-control:focus {
    border-color: #f5922e
}

.checkout.cart-summary {
    float: none;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%)
}

.checkout.cart-summary li {
    width: 100%
}

.shop-item-single .flexslider-thumbnails img {
    width: 100%;
    background: #f1f8ff;
    border-radius: 5px;
    padding: 50px
}

.shop-item-single .flex-control-thumbs {
    margin-top: 10px
}

.shop-item-single .flex-control-thumbs img {
    padding: 0;
    border: none
}

.single-item-title {
    font-size: 28px
}

.single-item-rating {
    margin: 10px 0
}

.single-item-rating i {
    color: #f5922e
}

.rating-count {
    margin-left: 10px;
    display: inline-block
}

.single-item-price {
    margin-top: 15px;
    margin-bottom: 15px
}

.single-item-price del {
    margin-right: 10px
}

.single-item-price span {
    color: #f5922e
}

.single-item-content h5 {
    margin-bottom: 15px
}

.single-item-content span {
    font-weight: 400;
    margin-left: 20px
}

.single-item-action {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    margin-bottom: 20px
}

.single-item-action .theme-btn {
    padding: 10px 12px;
    margin-right: 20px
}

.single-item-action .theme-btn span {
    margin-right: 5px
}

.single-item-btn {
    padding: 6px 14px;
    margin-right: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #f5922e;
    transition: all .5s ease-in-out
}

.single-item-btn:hover {
    background: #f5922e;
    color: #fff
}

.single-item-share {
    margin-top: 30px
}

.single-item-share span {
    font-weight: 700;
    text-transform: uppercase;
    color: #2b3e4b;
    display: inline-block
}

.single-item-share a {
    width: 38px;
    height: 38px;
    line-height: 35px;
    text-align: center;
    border-radius: 50px;
    color: #f5922e;
    border: 2px solid #f5922e;
    margin-left: 5px
}

.single-item-share a:hover {
    background: #f5922e;
    color: #fff
}

.single-item-details {
    margin-top: 30px
}

.single-item-desc {
    padding-top: 40px
}

.single-additional-info {
    padding-top: 40px
}

.single-item-review {
    padding-top: 40px
}

.review-rating i {
    color: #f5922e
}

.single-item-details .nav-tabs {
    border-width: 2px
}

.single-item-details .nav-tabs .nav-link {
    color: #2b3e4b;
    font-size: 20px;
    padding: 15px 25px;
    font-weight: 500;
    border: none;
    background: 0 0;
    border-bottom: 2px solid transparent
}

.single-item-details .nav-tabs .nav-link:hover,
.single-item-details .nav-tabs .nav-link.active {
    border-bottom: 2px solid #f5922e;
    color: #f5922e
}

.related-item {
    margin-top: 100px
}

@media all and (max-width:767px) {
    .single-item-action {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start
    }
    .single-item-action .theme-btn {
        margin-left: 8px
    }
}

.price-range.ui-widget-content {
    border: none;
    background: #e9e9e9;
    height: 5px;
    border-radius: 3px
}

.price-range .ui-state-default,
.price-range .ui-widget-content .ui-state-default {
    top: -7px;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 0;
    background: #f5922e
}

.price-range .ui-state-focus {
    outline: none
}

.price-range .ui-widget-header {
    background: #f5922e;
    border-radius: 0 !important
}

.price-range-input input {
    border: none;
    margin-bottom: 20px;
    color: #f5922e;
    font-weight: 700;
    outline: none
}

.contact-wrapper {
    position: relative
}

.contact-form {
    padding: 40px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%)
}

.contact-form-header {
    margin-bottom: 30px
}

.contact-form-header h2 {
    font-size: 30px;
    margin-bottom: 10px
}

.contact-form .form-group {
    margin-bottom: 25px
}

.contact-form .form-group .form-control {
    padding: 12px 20px;
    border-radius: 5px;
    box-shadow: none;
    transition: all .5s ease-in-out
}

.contact-form .form-group .form-control:focus {
    border-color: #f5922e
}

.contact-map {
    margin-top: 120px
}

.contact-map iframe {
    width: 100%;
    height: 450px;
    border-radius: 8px
}

.contact-content {
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%)
}

.contact-content::before {
    content: "";
    position: absolute;
    width: 3px;
    top: 50px;
    right: 0;
    bottom: 50px;
    background: #bb5c32
}

.contact-form .theme-btn i {
    margin-right: 5px;
    margin-left: 0
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px
}

.contact-info-icon {
    border: 2px solid #f5922e;
    border-right-color: transparent;
    border-radius: 50%;
    padding: 5px
}

.contact-info-icon i {
    font-size: 25px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    background: #f5922e
}

.contact-info h5 {
    margin-bottom: 5px
}

@media all and (max-width:991px) {
    .contact-content {
        margin-top: 50px
    }
}

.appointment-area {
    background: #2b3e4b;
    position: relative;
    z-index: 1
}

.appointment-img {
    background-image: url(../img/appointment/01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%
}

.appointment-content {
    max-width: 540px;
    margin-left: 30px;
    padding-top: 80px;
    padding-bottom: 80px
}

.appointment-form {
    margin-top: 30px
}

.appointment-form .form-group {
    margin-bottom: 20px
}

.appointment-form .form-select,
.appointment-form .form-control {
    border: none;
    padding: 15px;
    box-shadow: none;
    border-radius: 5px;
    color: #6c757d
}

.appointment-form .theme-btn {
    margin-top: 25px
}

.appointment-form .theme-btn:hover {
    color: #f5922e
}

.appointment-form .theme-btn::before {
    background: #fff
}

@media all and (max-width:1199px) {
    .appointment-content {
        max-width: unset;
        padding-right: 40px
    }
}

@media all and (max-width:991px) {
    .appointment-img {
        display: none
    }
}

.team-area {
    position: relative;
    overflow: hidden
}

.team-item {
    margin-bottom: 25px;
    position: relative;
    background: #fff;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%);
    transition: all .5s ease-in-out
}

.team-item::before {
    content: "";
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
    height: 4px;
    background: #f5922e
}

.team-item:hover {
    transform: translateY(-8px)
}

.team-item img {
    border-radius: 10px;
    width: 100%
}

.team-bio {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center
}

.team-bio h5 {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: capitalize
}

.team-bio h5 a {
    color: #2b3e4b
}

.team-bio span {
    color: #f5922e;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize
}

.team-bio h5 a:hover {
    color: #f5922e
}

.team-social {
    position: absolute;
    margin-bottom: 10px;
    text-align: center;
    top: 15px;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all .5s ease-in-out
}

.team-item:hover .team-social {
    opacity: 1;
    right: 15px
}

.team-social a {
    display: block;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    background: #f5922e;
    border-radius: 50px
}

.team-social a:hover {
    background: #2b3e4b;
    color: #fff
}

.team-social h6 {
    margin-top: 28px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;
    transform: rotate(-90deg)
}

.team-social h6::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #fff;
    left: -50px;
    top: 7px
}

.process-single {
    position: relative
}

.process-single .icon {
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    font-size: 40px;
    border: 2px dashed #f5922e;
    padding: 5px;
    margin-bottom: 30px;
    box-shadow: 0 3px 24px rgb(0 0 0/10%)
}

.process-single .icon img {
    border-radius: 50%
}

.process-single span {
    position: absolute;
    height: 35px;
    width: 35px;
    font-size: 14px;
    background: #f5922e;
    line-height: 35px;
    border-radius: 50%;
    color: #fff;
    left: -3px;
    top: -13px;
    font-weight: 600
}

.process-single h4 {
    margin-bottom: 10px
}

.process-single::before {
    content: url(../img/process/4.png);
    position: absolute;
    right: -65px;
    top: 34px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .process-single::before {
        display: none
    }
}

@media(max-width:767px) {
    .process-single::before {
        display: none
    }
}

.process-area .col-lg-3:last-child .process-single::before {
    display: none
}

.pricing-item {
    background: #fff;
    margin-bottom: 25px;
    border-radius: 10px;
    position: relative;
    padding: 40px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%);
    transition: all .5s ease-in-out
}

.pricing-item::before {
    content: "";
    position: absolute;
    height: 3px;
    left: 40px;
    right: 40px;
    bottom: 0;
    background: #f5922e
}

.pricing-item:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
}

.pricing-header-wrapper {
    margin-bottom: 30px
}

.pricing-header {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #f5922e
}

.pricing-header h5 {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    color: #f5922e
}

.pricing-header p {
    color: #2b3e4b
}

.pricing-amount {
    margin: 15px 0
}

.pricing-amount strong {
    font-size: 50px;
    font-weight: 900;
    color: #2b3e4b;
    line-height: 1
}

.pricing-amount-type {
    color: #2b3e4b;
    font-size: 16px
}

.pricing-text {
    color: #757f95;
    text-transform: uppercase;
    font-size: 15px
}

.pricing-feature {
    padding: 40px 0 0
}

.pricing-feature li {
    margin-bottom: 15px
}

.pricing-feature li:last-child {
    margin-bottom: 0
}

.pricing-feature li i {
    color: #f5922e;
    margin-right: 10px
}

.pricing-btn-wrapper .theme-btn {
    width: 100%
}

@media all and (max-width:991px) {
    .pricing-amount strong {
        font-size: 50px
    }
}

.faq-area .accordion-item {
    border: none;
    margin-bottom: 30px;
    border-radius: 8px !important;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%)
}

.faq-area .accordion-item span {
    width: 45px;
    height: 45px;
    margin-right: 15px
}

.faq-area .accordion-item i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 10px;
    background: #f5922e;
    text-align: center;
    color: #fff
}

.faq-area .accordion-button:not(.collapsed) {
    color: #f5922e;
    background: 0 0;
    box-shadow: inset 0 -1px 0 rgb(0 0 0/13%)
}

.accordion-button {
    border-radius: 0 !important;
    font-weight: 700;
    font-size: 18px;
    color: #2b3e4b;
    background: 0 0;
    box-shadow: none !important
}

.accordion-button:not(.collapsed) {
    border-bottom: 1px solid #bb5c32
}

.accordion-button:not(.collapsed)::after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNicgZmlsbD0nIzIxMjUyOSc+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBkPSdNMS42NDYgNC42NDZhLjUuNSAwIDAgMSAuNzA4IDBMOCAxMC4yOTNsNS42NDYtNS42NDdhLjUuNSAwIDAgMSAuNzA4LjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOCAwbC02LTZhLjUuNSAwIDAgMSAwLS43MDh6Jy8+PC9zdmc+)
}

.faq-area .theme-btn {
    margin-left: 10px
}

@media all and (max-width:991px) {
    .faq-right {
        margin-bottom: 50px
    }
    .accordion-button {
        font-size: 16px
    }
}

.partner-area .partner-wrapper img {
    padding: 20px
}

.site-breadcrumb {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    z-index: 1
}

.site-breadcrumb::before {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: rgba(3, 2, 7, .7);
    content: ''
}

.site-breadcrumb .breadcrumb-title {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: capitalize
}

.site-breadcrumb .breadcrumb-menu {
    position: relative;
    z-index: 1
}

.site-breadcrumb .breadcrumb-menu li {
    position: relative;
    display: inline-block;
    margin-left: 25px;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize
}

.site-breadcrumb .breadcrumb-menu li a {
    color: #fff;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.site-breadcrumb .breadcrumb-menu li.active {
    color: #f5922e
}

.site-breadcrumb .breadcrumb-menu li::before {
    position: absolute;
    content: '//';
    right: -21px;
    top: 1px;
    text-align: center;
    font-size: 16px;
    color: #fff
}

.site-breadcrumb .breadcrumb-menu li:first-child {
    margin-left: 0
}

.site-breadcrumb .breadcrumb-menu li:last-child:before {
    display: none
}

.site-breadcrumb .breadcrumb-menu li a:hover {
    color: #f5922e
}

@media(max-width:991px) {
    .site-breadcrumb {
        padding-top: 190px;
        padding-bottom: 120px
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px
}

.pagination .page-link {
    border: none;
    background: #2b3e4b;
    color: #fff;
    margin: 0 10px;
    border-radius: 8px !important;
    width: 40px;
    height: 40px;
    line-height: 27px;
    text-align: center;
    transition: all .5s ease-in-out
}

.pagination .page-link:hover,
.pagination .page-item.active .page-link {
    background: #f5922e
}

body.rtl-mode {
    direction: rtl
}

body.rtl-mode .item-area {
    direction: ltr
}

body.rtl-mode .price-wrapper {
    direction: rtl
}

@media(min-width:992px) {
    body.rtl-mode .navbar-brand {
        margin-left: 3rem
    }
    body.rtl-mode .navbar .nav-item .nav-link {
        margin-left: 3rem;
        margin-right: 0
    }
}

.login-form {
    padding: 50px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%)
}

.login-form::before {
    content: "";
    position: absolute;
    width: 3px;
    top: 50px;
    bottom: 50px;
    left: 0;
    background: #bb5c32
}

.login-form .login-header {
    text-align: center;
    margin-bottom: 50px
}

.login-form .login-header img {
    width: 200px;
    margin-bottom: 10px
}

.login-form .login-header h3 {
    color: #f5922e;
    margin-bottom: 5px;
    font-weight: 800
}

.login-form .login-header p {
    font-size: 20px
}

.login-form .login-footer {
    margin-top: 40px
}

.login-form .login-footer p {
    text-align: center
}

.login-form .login-footer a {
    color: #f5922e;
    transition: .5s
}

.login-form .login-footer a:hover {
    color: #2b3e4b
}

.login-form .form-group {
    margin-bottom: 20px
}

.login-form label {
    color: #2b3e4b;
    margin-bottom: 5px
}

.login-form .form-group .form-control {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 12px 18px;
    box-shadow: none;
    transition: .5s
}

.login-form .form-group .form-control:focus {
    border-color: #f5922e
}

.login-form .form-check-input {
    box-shadow: none
}

.login-form .forgot-pass {
    color: #f5922e;
    transition: .5s
}

.login-form .forgot-pass:hover {
    color: #2b3e4b
}

.login-form .theme-btn {
    width: 100%
}

.login-form .theme-btn i {
    margin-right: 5px
}

.login-form .form-check-input {
    margin-top: 6.3px
}

.login-form .form-check-label a {
    color: #f5922e;
    transition: .5s
}

.login-form .form-check-label a:hover {
    color: #f5922e
}

.form-check-input:checked {
    background-color: #f5922e;
    border-color: #f5922e
}

@media only screen and (max-width:991px) {
    .login-form {
        padding: 40px 20px
    }
}

.coming-soon {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: relative
}

.coming-soon .container {
    position: relative
}

.coming-soon:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.coming-soon .newsletter-form {
    position: relative;
    margin-top: 30px
}

.coming-soon .newsletter-form .input-newsletter {
    height: 55px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 25px
}

.coming-soon .newsletter-form button {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;
    height: auto;
    border: none;
    border-radius: 5px;
    background: #f5922e;
    display: inline-block;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    transition: .5s
}

.coming-soon .newsletter-form button:hover {
    background-color: #2b3e4b;
    color: #fff
}

.coming-social {
    margin-top: 30px;
    text-align: center
}

.coming-social a {
    color: #fff;
    margin: 5px;
    width: 40px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #fff;
    display: inline-block;
    transition: .5s
}

.coming-social a:hover {
    background: #f5922e;
    border-color: #f5922e
}

.countdown-wrap {
    margin-top: 30px
}

.countdown-single {
    background: #f5922e;
    padding: 20px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 3px 24px rgb(0 0 0/10%)
}

.countdown-single::before {
    content: "";
    position: absolute;
    border: 3px solid #fff;
    border-radius: 10px;
    height: 10px;
    width: 10px;
    left: 6px;
    top: 6px
}

.countdown-single h2 {
    color: #fff
}

.countdown-single h5 {
    color: #fff
}

.error-wrapper {
    text-align: center
}

.error-wrapper h1 {
    font-size: 250px;
    letter-spacing: 5px;
    font-weight: 700;
    color: #f5922e
}

.error-wrapper h1 span {
    color: #2b3e4b
}

.error-wrapper h2 {
    margin-top: 30px;
    margin-bottom: 10px
}

.error-wrapper img {
    width: 100%
}

.error-wrapper .theme-btn {
    margin-top: 30px
}

.error-wrapper .theme-btn i {
    margin-right: 5px;
    margin-left: 0
}

@media all and (max-width:767px) {
    .error-wrapper h1 {
        font-size: 160px
    }
}

.terms-content:not(:last-child) {
    margin-bottom: 54px
}

.terms-content:first-child {
    margin-top: -3px
}

.terms-content .terms-list {
    margin-top: 37px
}

.terms-content h3 {
    margin-bottom: 23px;
    position: relative
}

.terms-content p:not(:last-child) {
    margin-bottom: 26px
}

.terms-list li:not(:last-child) {
    margin-bottom: 16px
}

.footer-area {
    background: #1a2a36;
    position: relative;
    z-index: 1
}

.footer-shape img {
    position: absolute;
    z-index: -1
}

.footer-shape .footer-shape-1 {
    left: -2%;
    bottom: 0;
    opacity: .5
}

.footer-shape .footer-shape-2 {
    right: -2%;
    bottom: 0
}

.footer-widget-box {
    margin-bottom: 20px
}

.footer-widget {
    position: relative;
    z-index: 1
}

.footer-logo img {
    width: 80px;
    margin-bottom: 30px
}

.copyright {
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, .1)
}

.copyright .footer-menu {
    margin: 0;
    padding: 0;
    text-align: right
}

.copyright .footer-menu li {
    display: inline-block;
    margin-left: 25px;
    font-size: 16px
}

.copyright .footer-menu li a {
    color: #f5faff;
    transition: all .5s ease-in-out
}

.copyright .footer-menu li a:hover {
    color: #f5922e
}

.copyright .copyright-text {
    color: #f5faff;
    margin-bottom: 0;
    font-size: 16px
}

.copyright .copyright-text a {
    color: #f5922e;
    font-weight: 500
}

.footer-widget-title {
    color: #fff;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-size: 22px;
    letter-spacing: 1.5px;
    z-index: 1
}

.footer-widget-title::before {
    position: absolute;
    content: '';
    z-index: -1;
    width: 15px;
    height: 2px;
    background-color: #f5922e;
    bottom: 0;
    left: 0
}

.footer-widget-title::after {
    position: absolute;
    content: '';
    z-index: -1;
    width: 30px;
    height: 2px;
    background-color: #f5922e;
    bottom: 0;
    left: 20px
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.footer-list li a {
    color: #fff;
    transition: all .5s ease-in-out
}

.footer-list li a i {
    margin-right: 5px;
    color: #f5922e
}

.footer-list li a:hover {
    padding-left: 10px;
    color: #f5922e
}

.footer-widget-box p {
    color: #fff;
    padding-right: 18px;
    margin-bottom: 20px
}

.footer-social {
    display: flex;
    gap: 15px;
    margin-top: 40px
}

.footer-social li a i {
    height: 40px;
    width: 40px;
    line-height: 35px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #f5922e;
    color: #fff;
    transition: all .5s ease-in-out
}

.footer-social li a i:hover {
    background: #f5922e;
    color: #fff
}

.footer-newsletter .subscribe-form .form-control {
    border: 2px solid #e8e8e8;
    height: 55px;
    padding: 0 15px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    box-shadow: none;
    background-color: transparent
}

.footer-newsletter .subscribe-form .form-control::placeholder {
    color: #f2f3f5;
    opacity: 1
}

.footer-newsletter .subscribe-form .form-control:-ms-input-placeholder {
    color: #f2f3f5
}

.footer-newsletter .subscribe-form .form-control::-ms-input-placeholder {
    color: #f2f3f5
}

.footer-newsletter .subscribe-form .theme-btn {
    margin-top: 20px;
    width: 100%
}

.footer-contact li {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #f5faff;
    font-size: 16px;
    margin-bottom: 20px
}

.footer-contact li a {
    color: #f5faff;
    -webkit-transition: .3s;
    transition: .3s
}

.footer-contact li i {
    width: 12px;
    height: 30px;
    font-size: 18px;
    margin-right: 15px;
    border-radius: 5px;
    line-height: 31px;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
    color: #f5922e
}

@media all and (max-width:1199px) {
    .footer-widget-box {
        margin-bottom: 50px
    }
}

@media all and (max-width:991px) {
    .footer-widget-wrapper {
        padding-bottom: 0
    }
    .copyright .footer-menu {
        float: left;
        margin-top: 20px;
        text-align: left
    }
    .copyright .footer-menu li {
        margin-left: 0;
        margin-right: 15px
    }
}

@media all and (max-width:767px) {
    .footer-widget-wrapper {
        padding-bottom: 0
    }
}

.search-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999;
    margin-top: -540px;
    transform: translateY(-100%);
    background-color: rgba(0, 0, 0, .8);
    transition: all 1500ms cubic-bezier(.86, 0, .07, 1);
    transition-timing-function: cubic-bezier(.86, 0, .07, 1)
}

.sidenav-bar-visible .search-popup {
    width: 80%
}

.search-active .search-popup {
    transform: translateY(0%);
    margin-top: 0
}

.search-popup .close-search {
    position: absolute;
    left: 0;
    right: 0;
    top: 75%;
    border: none;
    margin: 0 auto;
    margin-top: -200px;
    border-radius: 50px;
    text-align: center;
    background: #f5922e;
    text-align: center;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden
}

.search-active .search-popup .close-search {
    visibility: visible;
    opacity: 1;
    top: 50%;
    transition-delay: 1500ms
}

.search-popup form {
    position: absolute;
    max-width: 700px;
    top: 50%;
    left: 15px;
    right: 15px;
    margin: -35px auto 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 300ms ease
}

.search-active .search-popup form {
    transform: scaleX(1);
    transition-delay: 1200ms
}

.search-popup .form-group {
    position: relative;
    margin: 0;
    overflow: hidden
}

.search-popup .form-group input[type=text],
.search-popup .form-group input[type=search] {
    position: relative;
    width: 100%;
    height: 60px;
    outline: none;
    border-radius: 50px;
    border: none;
    padding: 0 100px 0 35px;
    transition: all 500ms ease;
    text-transform: capitalize
}

.search-popup .form-group input[type=submit],
.search-popup .form-group button {
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 5px;
    background: #f5922e;
    text-align: center;
    font-size: 20px;
    color: #fff !important;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    transition: all 500ms ease
}

.search-popup .form-group input[type=submit]:hover,
.search-popup .form-group button:hover {
    background: #2b3e4b
}

.search-popup input::placeholder,
.search-popup textarea::placeholder {
    color: #51668a
}

.mobile-search-btn {
    display: none
}

@media all and (max-width:991px) {
    .mobile-search-btn {
        display: block;
        position: absolute;
        right: 15%;
        color: #2b3e4b;
        font-size: 20px
    }
    .mobile-search-btn:hover {
        color: #f5922e
    }
}

@media all and (max-width:767px) {
    .mobile-search-btn {
        right: 20%
    }
}

.home-2 .header-top-social a {
    background: 0 0;
    color: #f5922e
}

.home-2 .header-top-social a:hover {
    color: #fff
}

.home-3.main {
    margin-top: -6rem
}

.home-3 .navbar {
    background: 0 0;
    border-bottom: 1px solid rgba(255, 255, 255, .1)
}

.home-3 .navbar.fixed-top {
    background: #1a2a36;
    border-bottom: none
}

.home-3 .header-btn .theme-btn:hover {
    color: #f5922e
}

.home-3 .header-btn .theme-btn::before {
    background: #fff
}

.home-3 .hero-single {
    padding-top: 240px;
    padding-bottom: 180px
}

.home-3 .hero-single::before {
    background: rgba(3, 2, 7, .75)
}

.home-3 .header-cart a,
.home-3 .header-nav-search a {
    color: #fff
}

.home-3 .header-cart a:hover,
.home-3 .header-nav-search a:hover {
    color: #bb5c32
}

@media(min-width:992px) {
    .home-3 .navbar .nav-item .nav-link {
        color: #fff
    }
}

@media(max-width:991px) {
    .home-3 .navbar-toggler-icon,
    .home-3 .mobile-search-btn {
        color: #fff !important
    }
}